

/* NAV-BAR À GAUCHE */
.sidebar {
  width: 150px;
  height: 100vh;
  background-color: #E8D5D5;
  color: white;
  padding: 1px;
  position: fixed; /* elle reste collée à gauche */
  top: 0;
  left: 0;
}

/* TITRE DU MENU */
.sidebar h2 {
  margin-top: 0;
  font-size: 24px;
}

/* LISTE */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

.sidebar ul li a:hover {
  color: #ffdd59;
  margin-left: 5px; /* petit effet */
}

/* CONTENU À DROITE */
.content {
  margin-left: 24px; /* espace pour éviter que le contenu cache la barre */
  padding: 30px;
}
.nn {
    padding: 6px 12px;
    border: 2px solid #b84c12;      /* bordure */
    border-radius: 8px;
    color: #b84c12;                 /* couleur du texte */
    transition: 0.3s;
    

     width: 80px;      /* même largeur pour tous */
    height: 25px;

    display: flex;
    flex-direction: column;   /* icône en haut + texte en bas */
    align-items: center;      /* centre horizontalement */
    justify-content: center;  /* centre verticalement */
    text-align: center;       /* texte centré */
    gap: 5px;                 /* espace entre icône et texte */
    padding: 10px;


}

/* Image en haut de la sidebar */
.sidebar-logo {
    display: block;
    width: 100px;         /* largeur de l'image */
    height: auto;
    margin: 10px auto;    /* centré horizontalement */
    border-radius: 10px;  /* optionnel, coins arrondis */
}


/* Quand la souris passe dessus */
.nn:hover {
    background-color: #6c4637;
    color: white;
}

/* Quand il est "sélectionné" */
.nn.active {
    background-color: #6c4637;      /* couleur sélectionnée */
    border-color: #6c4637;
    color: white;
}
.main-nav {
    display: flex;
    flex-direction: column; /* vertical */
    gap: 12px;              /* espace entre les boutons */
    align-items: flex-start; /* ou center si tu veux centré */
}


/* Conteneur principal */
.main-content {
    margin-left: 150px; /* laisse la place pour la sidebar */
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
    height: calc(100vh - 20px); /* prend toute la hauteur disponible */
    padding-top: 20px;      /* espace au-dessus si nécessaire */
}

/* Contenu centré */
.center-space {
    text-align: center;
}

